name: doSomeThing

on:
  schedule:
    - cron: '* * * * *'
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

jobs:
  mutate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: 'pip'  

      - name: Install requirements
        run: |
          pip install requests PyGithub
          pip install Faker


      - name: WORK?!
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        run: python core/busy.py
    
